<!-- add partials -->
<% include partials/header.ejs%>


<div class="container">
      <!-- To put search bar for vechile on the list -->
      <% if(vehicles.length > 0){%>
        <table class="table table-bordered" id="list-of-vehicles">
          <thead>
            <tr>
              <th>Vehicle Number</th>
              <th>Status</th>
              <th>Type</th>
              <th>Last Update</th>
              <th>More Info</th>
            </tr>
          </thead>
          <tbody>
            <% vehicles.forEach((vehicle, index) => { %>
            <tr>
              <td scope="row"><%= vehicle.number%></td>
              <td scope="row"><%= vehicle.status%></td>
              <td scope="row"><%= vehicle.type%></td>
              <td scope="row"><%= vehicle.last_update%></td>
              <td>
                <a href="/vehicle-info/<%= vehicle.number%>" class="btn btn-primary"
                  >Click Here</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <%} %>
</div>
  </body>
</html>
